/*  



/* 
 

/* navbar style start  



.menu ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* ----------- Grid part ends -----------------


.menu ul li {
  font-size: 1.8rem;
}

.menu ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  
}
.menu ul li:hover > a {

  color: rgba(0, 0, 3, 1);
  text-decoration: underline;

}









/* responsive css style 
@media (max-width: 1080px) {
  .nav {
    height: 8rem;
    
  }

  .logo,
  .menu ul,
  .social-media ul {
    height: 8rem;
  }
}

/* responsive css style 
@media (max-width: 998px) {
  .nav {
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu {
    display: none;
  }

  .logo,
  .social-media ul {
    height: 7rem;
  }

  .mobile-menu {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu {
    background-color: white;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

 

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 798px) {
  .nav {
    height: 6rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 520px) {
  .nav {
    height: 6rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger {
    display: block;
    font-size: 2.5rem;
  }

}
 */
